<div class="jumbotron text-center">
    <div class="container">
        <div class="row">

            <div class="col col-md-12">
                <div class="col col-md-6">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/PEijBXHN1Ko?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col col-md-6">
                    @{

                        Bsk.Interface.core _core = new Bsk.Interface.core();
                        Bsk.BE.publicacaoBE _publicaoBE = new Bsk.BE.publicacaoBE();
                        Bsk.BE.homeBE _home = new Bsk.BE.homeBE();
                        Bsk.BE.usuarioBE _usuarioBE = new Bsk.BE.usuarioBE();
                        Bsk.BE.categoriaBE _categoriaBE = new Bsk.BE.categoriaBE();

                        Bsk.BE.publicacaoBE p1 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p2 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p3 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p4 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p5 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p6 = new Bsk.BE.publicacaoBE();
                        Bsk.BE.publicacaoBE p7 = new Bsk.BE.publicacaoBE();

                        try
                        {


                            var pub1 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 0");

                            if (pub1.Count > 0)
                            {

                                p1 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub1[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p1.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p1);
                                    p1 = null;
                                }
                            }

                            var pub2 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 1");
                            if (pub2.Count > 0)
                            {
                                p2 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub2[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p2.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p2);
                                    p2 = null;
                                }
                            }


                            var pub3 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 2");
                            if (pub3.Count > 0)
                            {
                                p3 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub3[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p3.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p3);
                                    p3 = null;
                                }
                            }


                            var pub4 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 3");
                            if (pub4.Count > 0)
                            {
                                p4 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub4[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p4.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p4);
                                    p4 = null;
                                }
                            }


                            var pub5 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 4");
                            if (pub5.Count > 0)
                            {
                                p5 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub5[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p5.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p5);
                                    p5 = null;
                                }
                            }


                            var pub6 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 5");
                            if (pub6.Count > 0)
                            {
                                p6 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub6[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p6.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p6);
                                    p6 = null;
                                }
                            }

                            var pub7 = _core.home_Get(_home, " Chave='#HomeSup' and Relevancia = 6");
                            if (pub7.Count > 0)
                            {
                                p7 = _core.publicacao_Get(_publicaoBE, " Ativo ='1' and  IdPublicacao=" + pub7[0].IdPublicacao)[0];
                                var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + p7.Login + "'");
                                if (escritor.Count == 0)
                                {
                                    _core.publicacao_Delete(p7);
                                    p7 = null;
                                }
                            }
                        }
                        catch (Exception ex)
                        {
                            string erro = ex.ToString();
                        }
                    }

                    <div class="col col-md-8">
                        <a href="~/Page/artigo.aspx?Id=@p1.IdPublicacao&Escritor=@p1.Login&Artigo=@p1.Titulo.Replace("\"", "")">
                            <center><img src="~/img_timeline/@p1.ImgPublicacao" class="img-responsive" width="100%" /></center><br>
                            <h4>@p1.Subtitulo</h4>
                        </a>
                    </div>
                    <div class="col col-md-4">
                        <div class="col col-md-12">
                            <a href="~/Page/artigo.aspx?Id=@p2.IdPublicacao&Escritor=@p2.Login&Artigo=@p2.Titulo.Replace("\"", "")">
                                <img src="~/img_timeline/@p2.ImgPublicacao" class="img-responsive" width="100%" /></center><br>
                                <h4>@p2.Titulo</h4>
                            </a>
                        </div>
                        <div class="col col-md-12">&nbsp;</div>
                        <a href="~/Page/artigo.aspx?Id=@p3.IdPublicacao&Escritor=@p3.Login&Artigo=@p3.Titulo.Replace("\"", "")">
                            <img src="~/img_timeline/@p3.ImgPublicacao" class="img-responsive" width="100%" /></center><br>
                            <h4>@p3.Titulo</h4>
                        </a>
                    </div>
                </div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>

                <div class="col col-md-12">
                    <div class="col col-md-3">
                        <div class="col col-md-12">
                            <a href="~/Page/artigo.aspx?Id=@p4.IdPublicacao&Escritor=@p4.Login&Artigo=@p4.Titulo.Replace("\"", "")">
                                <img src="~/img_timeline/@p4.ImgPublicacao" class="img-responsive" width="100%" style="height:150px;" /></center><br>
                                <h4>@p4.Titulo</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="col col-md-12">
                            <a href="~/Page/artigo.aspx?Id=@p5.IdPublicacao&Escritor=@p5.Login&Artigo=@p5.Titulo.Replace("\"", "")">
                                <img src="~/img_timeline/@p5.ImgPublicacao" class="img-responsive" width="100%" style="height:150px;" /></center><br>
                                <h4>@p5.Titulo</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="col col-md-12">
                            <a href="~/Page/artigo.aspx?Id=@p6.IdPublicacao&Escritor=@p6.Login&Artigo=@p6.Titulo.Replace("\"", "")">
                                <img src="~/img_timeline/@p6.ImgPublicacao" class="img-responsive" width="100%" style="height:150px;" /></center><br>
                                <h4>@p6.Titulo</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="col col-md-12">
                            <a href="~/Page/artigo.aspx?Id=@p7.IdPublicacao&Escritor=@p7.Login&Artigo=@p7.Titulo.Replace("\"", "")">
                                <img src="~/img_timeline/@p7.ImgPublicacao" class="img-responsive" width="100%" style="height:150px;" /></center><br>
                                <h4>@p7.Titulo</h4>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-md-12">&nbsp;</div>
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <div style="width:100%; height: 250px; position: relative; z-index: 99;">

                        <ins data-revive-zoneid="1" data-revive-id="a77313043dd34ac26018641df18abae2"></ins>

                    </div>
                </center>
                </div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>
                <div class="col col-md-12">&nbsp;</div>




                <div class="col col-md-12">
                    @{
                        var categorias = _core.categoria_Get(_categoriaBE, null);
                        foreach (var item in categorias)
                        {
                            var publicacaoCategoria = _core.publicacao_Get(_publicaoBE, " IdCategoria1=" + item.IdCategoria + " and Status = 1 order by NotaEquipe , IdPublicacao desc LIMIT 4");


                            <div class="col col-md-12">&nbsp;</div>
                            <h2>
                                <a href="~/Page/PublicacaoCategoria.aspx?Id=@item.IdCategoria&Categoria=@item.Categoria"> @item.Categoria </a>
                            </h2>

                            <hr style="border-color:lightsteelblue;">


                            <div class="col col-md-12">&nbsp;</div>
                            <div class="col col-md-12">
                                @{ int y = 0;
                                    foreach (var pub in publicacaoCategoria)
                                    {
                                        var escritor = _core.Usuario_Get(_usuarioBE, " Ativo ='1' and Login= '" + pub.Login + "'");
                                        if (escritor.Count == 0)
                                        {
                                            _core.publicacao_Delete(pub);

                                        }
                                        else
                                        {
                                            <div class="col col-md-6">
                                                <div class="col col-md-6">
                                                    <a href="~/Page/artigo.aspx?Id=@pub.IdPublicacao&Escritor=@pub.Login&Artigo=@pub.Titulo.Replace("\"", "")">
                                                        <img src="~/img_timeline/@pub.ImgPublicacao" class="img-responsive" width="100%" style="height:150px;" />
                                                    </a>
                                                </div>
                                                <div class="col col-md-6">
                                                    <a href="~/Page/artigo.aspx?Id=@pub.IdPublicacao&Escritor=@pub.Login&Artigo=@pub.Titulo.Replace("\"", "")">
                                                        <h4 style="text-align:left!important;">@pub.Titulo</h4>
                                                        <p style="text-align:left!important; font-size:13px; color:#4d4d4d!important;">@pub.Subtitulo</p>
                                                    </a>
                                                </div>
                                            </div>
                                            y++;
                                            if (y == 2)
                                            {
                                                <div class="col col-md-12">&nbsp;</div>
                                                y = 0;
                                            }
                                        }


                                        {

                                        }

                                    }
                                    if (item.Categoria == "Esporte")
                                    {
                                        <iframe data-aa='659746' src='//ad.a-ads.com/659746?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
                                    }
                                }
                            </div>



                                    }
                    }
                    <div class="col col-md-12">&nbsp;</div>
                    <div class="col col-md-12">&nbsp;</div>

                </div>
            </div>



    </div>
    <footer class="col col-md-12" style="background: #337ab7;  padding: 0px;  position: relative;  bottom: -38px; color: #ffffff!important;">
        <a href="..\Page\termosPolitica.aspx"> <button style="color: #ffffff!important;" type="button" class="btn btn-primary btn-minhaspublicacoes" name="btnFaq-btn" id="btnFaq" runat="server" onserverclick="btnFaq_ServerClick">Termos de uso</button></a>
        <a href="..\Page\termosPolitica.aspx"><button style="color: #ffffff!important;" type="button" class="btn btn-primary btn-minhaspublicacoes" name="btnFaq-btn" id="btnFaq" runat="server" onserverclick="btnFaq_ServerClick">Políticas de privacidade</button></a>
        <a href="..\Page\faq.aspx"> <button style="color: #ffffff!important;" type="button" class="btn btn-primary btn-minhaspublicacoes" name="btnFaq-btn" id="btnFaq" runat="server" onserverclick="btnFaq_ServerClick">FAQs</button></a>
    </footer>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        
        setTimeout(function () {
            $('ins').find('img').addClass('img-responsive');
        }, 300);

    });
</script>
